= render 'layouts/head'
= render 'layouts/side'

#disp
	.head
		#banner
		=# image_tag "DOOM.png"
		-#%h3 MF DOOM
		-#%span MF DOOM
		= image_tag "kkb-headshot.png", id: "prof-pic"
	%h3 Kero Kero Bonito

	.list
		.select
			%h5.green Albums
			%h5 Singles
			%h5.option Popularity
		.album
			= image_tag "album/bonito-recycling.png"
			%h6 Bonito Recycling
		.album
			= image_tag "album/intro-bonito.png"
			%h6 Intro Bonito

= render 'layouts/player'