= render 'layouts/head'

.cont
	%h5.sub Settings

	#settings
		%h5.sub Apps
		%div
			%h6 Musixmatch
			= image_tag('logo-musixmatch.svg')
		%div
			%h6 VEVO
			= image_tag('logo-vevo.svg')

= render 'layouts/side'
= render 'layouts/player'