= link_to 'rg', 'rg'
= link_to 'rg_tracks', 'rg_tracks'
= link_to 'music', 'music'
= link_to 'mv', 'mv'
= link_to 'artist', 'artists'
= link_to 'artist2', 'artists2'
= link_to 'settings', 'settings'
= link_to 'playlists', 'playlists'
